<osb-loader *ngIf="loading"></osb-loader>

<div class="panel ">
  <div class="panel-body">
    <ul class="list" *ngIf="contract">
      <li class="acount-info-conditions-elemt">
        <div class="name text-left">{{'ONESAIT-NB-EXPRESS.CONDITIONS.EXPIRATION-DATE' | translate}}</div>
        <div class="value text-right" *ngIf="contract.expirationDate">{{contract.expirationDate | date: 'dd/MM/yyyy'}}</div>
      </li>
      <li class="acount-info-conditions-elemt">
        <div class="name text-left">{{'ONESAIT-NB-EXPRESS.CONDITIONS.MAX-AMOUNT-ADVANCES' | translate}}</div>
        <div class="value text-right text-no-warp" *ngIf="contract?.advancesMaxAmount?.currency?.code">{{contract.advancesMaxAmount.amount | CurrencyPipe :
                contract.advancesMaxAmount.currency.code : false }}</div>
      </li>
      <li class="acount-info-conditions-elemt">
        <div class="name text-left">{{'ONESAIT-NB-EXPRESS.CONDITIONS.MAX-AMOUNT-CONFIRMING' | translate}}</div>
        <div class="value text-right text-no-warp" *ngIf="contract?.confirmingMaxAmount?.currency?.code">{{contract.confirmingMaxAmount.amount | CurrencyPipe :
                contract.confirmingMaxAmount.currency.code : false }}</div>
      </li>
      <li class="acount-info-conditions-elemt">
        <div class="name text-left">{{'ONESAIT-NB-EXPRESS.CONDITIONS.ACTIVE-ORDERS' | translate}}</div>
        <div class="value text-right text-no-warp" *ngIf="contract?.totalAmountOfActiveOrders?.currency?.code">{{contract.totalAmountOfActiveOrders.amount | CurrencyPipe :
                contract.totalAmountOfActiveOrders.currency.code : false }}</div>
      </li>
      <li class="acount-info-conditions-elemt">
        <div class="name text-left">{{'ONESAIT-NB-EXPRESS.CONDITIONS.ADVANCED-ORDERS' | translate}}</div>
        <div class="value text-right text-no-warp"  *ngIf="contract?.totalAmountOfAdvanceOrders?.currency?.code">{{contract.totalAmountOfAdvanceOrders.amount | CurrencyPipe :
                contract.totalAmountOfAdvanceOrders.currency.code : false }}</div>
      </li>
    </ul>
    <!-- <div class="col-xs-12" *ngIf="!contract">{{'ONESAIT-CONFIRMING.CONDITIONS.NO-CONTRACTS' | translate}}</div> -->
  </div>
</div>