//--------------------------
//  COLORES PARA NOVOBANCO
//--------------------------
$nvb-white: #ffffff;
$nvb-gray-lighter: #f6f6f6;
$nvb-gray-light: #f1f1f1;
$nvb-gray-content-background: #ececec;
$nvb-gray: #9ba1a1;
$nvb-gray-doc: #989898;
$nvb-gray-dark: #828989;
$nvb-gray-darker: #4a4a4a;
$nvb-gray-user-menu: #d8d8d8;
$nvb-gray-submenu: #58650c;
$nvb-green-lightest: #f3f8d8;
$nvb-green: #c4dc3d;
$nvb-green-dark: #9CAF2F;
$nvb-green-darker: #58650c;
$nvb-blue: #007AB9;
$nvb-blue-dark: #1A628A;
$nvb-orange: #B35800;
$nvb-red-light: #ef6738;
$nvb-red: #ff0000;
$nvb-dark: #1D1D1B;