<div class="row">

    <div class="col-xs-12 p-dynamic">
        <osb-tabs [tabs]="pageConfig.tabs" [(view)]="view"></osb-tabs>
    </div>

</div>

<div class="row page-tabbed mt-1">
    <div class="col-xs-12 p-dynamic">
        <div class="panel ">
            <div class="panel-body">
                <app-directdebit-payments *ngIf="view==='payments'" [contractId]="contractId" scroll-collapse-emitter></app-directdebit-payments>
                <app-directdebit-info-condition *ngIf="view==='conditions'" [contractId]="contractId" scroll-collapse-emitter></app-directdebit-info-condition>
                <!-- <osb-directdebit-payments-return *ngIf="view==='returns'" [contractId]="contractId"
                            scroll-collapse-emitter>
                        </osb-directdebit-payments-return> -->
            </div>
        </div>
    </div>
</div>