<ul  id="detail">
    <li  *ngIf="movementDetail.amount?.amount"><span class="name">{{'ITECBAN-ACCOUNT.MOVEMENT.MONTO'
            | translate}} </span><span class="value text-no-warp">{{movementDetail.amount.amount | CurrencyPipe:
            movementDetail.amount.currency.code}}</span></li>
    <li  *ngIf="movementDetail.reason"><span class="name">{{'ITECBAN-ACCOUNT.MOVEMENT.CONCEPT'
            | translate}} </span><span class="value">{{movementDetail.reason}}</span></li>
    <li  *ngIf="movementDetail.operationDateHour"><span class="name">{{'ITECBAN-ACCOUNT.MOVEMENT.OPERATION.DATE'
            | translate}} </span><span class="value">{{movementDetail.operationDateHour}}</span></li>
</ul>