<div class="row" *ngIf="transferState">
    <div class="col-xs-12">
        <fieldset class="fielset-custom mt-1" *ngIf="!isMobileResolution() || transferState.currentStep === 1">
            <div class="mt-1 mb-1">
                {{ 'ONESAIT-TRANSFERS.EMIT.DESCRIPTION.SEPA' | translate }}
            </div>
            <div class="row" *ngIf="transferState.favourites && !isMobileResolution()">
                <div class="col-xs-12 col-md-5">
                    <div class="form-group">
                        <label for="favourite">{{'ONESAIT-TRANSFERS.EMIT.FILL-FAV' | translate}}</label>
                        <select class="form-control form-control-amim" name="favourite" [(ngModel)]="transferFavouriteSelected" (ngModelChange)="onChangeSelect($event)">
                            <option [ngValue]='null'></option>
                            <option *ngFor="let favourite of transferState.favourites" [ngValue]="favourite">{{favourite.reason}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <form [formGroup]="transferFormAccounts" id="form">
                <div class="form-group">
                    <div class="row mt-1">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="origin">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.ORIGINIBAN' | translate}}*</label>
                                <osb-input-validator [formCtrl]="transferFormAccounts.get('origin')">
                                    <select class="form-control form-control-amim" name="origin" formControlName="origin">
                                        <!-- <option [ngValue]='null'></option> -->
                                        <option *ngFor="let account of accountSelectTransfer" [ngValue]="account">
                                            {{account.formats | formatAccountPipe: accountFormatView}}
                                        </option>
                                    </select>
                                </osb-input-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-xs-12">
                            <label for="externalDestiny">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.DESTINY' | translate}}*</label>
                            <!-- <div class="form-inline"> -->
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="row pl-1">
                                        <input class="form-control input-iban" type="text" name="ibanbloque1" id="ibanbloque1" formControlName="ibanbloque1" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(1)" (blur)=changeAccountFrom(1)/>
                                        <input class="form-control input-iban" type="text" name="ibanbloque2" id="ibanbloque2" formControlName="ibanbloque2" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(2)" (blur)=changeAccountFrom(2)/>
                                        <input class="form-control input-iban" type="text" name="ibanbloque3" id="ibanbloque3" formControlName="ibanbloque3" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(3)" (blur)=changeAccountFrom(3)/>
                                        <input class="form-control input-iban" type="text" name="ibanbloque4" id="ibanbloque4" formControlName="ibanbloque4" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(4)" (blur)=changeAccountFrom(4)/>
                                        <input class="form-control input-iban" type="text" name="ibanbloque5" id="ibanbloque5" formControlName="ibanbloque5" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(5)" (blur)=changeAccountFrom(5)/>
                                        <input class="form-control input-iban" type="text" name="ibanbloque6" id="ibanbloque6" formControlName="ibanbloque6" minlength="4" maxlength="4" (ngModelChange)="tabulacionIBAN(6)" (blur)=changeAccountFrom(6)/>
                                    </div>
                                    <span class="help-block text-red" *ngIf="errorText && transferFormAccounts.invalid && (transferFormAccounts.touched)">
                                        <p class="text-left" >{{ errorText | translate }}</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-xs-6 col-sm-6">
                            <label for="amount">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.AMOUNT' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('amount')" [opts]="inputValidatorOptions">
                                <input class="form-control" type="text" name="amount" formControlName="amount" (blur)="applyFormatInput()" />
                            </osb-input-validator>
                        </div>
                        <div class="col-xs-6 col-sm-3 pl-0 mt-2"><span>{{symbolOrigin}}</span></div>
                    </div>
                </div>
            </form>
            <form [formGroup]="transferFormBeneficiary" id="form">
                <div class="form-group">
                    <div class="row mt-1">
                        <div class="col-xs-12 col-sm-6">
                            <label for="beneficiaryName">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.BENEFICIARY' | translate}}*
                            </label>
                            <osb-input-validator [formCtrl]="transferFormBeneficiary.get('beneficiaryName')">
                                <input class="form-control" type="text" name="beneficiaryName" formControlName="beneficiaryName" />
                            </osb-input-validator>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>


        <fieldset class="fielset-custom mt-1" *ngIf="!isMobileResolution() || transferState.currentStep === 2">
            <form [formGroup]="transferFormExecution" id="form">
                <div class="form-group">
                    <osb-transfer-execution [transferForm]="transferFormExecution" [frequencyTypes]="transferState.frequencyTypes"></osb-transfer-execution>
                    <osb-transfer-emit-simulator [simulation]="simulation"></osb-transfer-emit-simulator>
                </div>
            </form>
        </fieldset>
        <fieldset class="fielset-custom mt-1" *ngIf="!isMobileResolution() || transferState.currentStep === 3">
            <form [formGroup]="transferFormData" id="form">
                <div class="row mt-1">
                    <div class="col-xs-12 col-md-3">
                        <label for="concept">{{'ONESAIT-TRANSFERS.EMIT.REASON' | translate}}*</label>
                        <osb-input-validator [formCtrl]="transferFormData.get('concept')">
                            <input class="form-control" type="text" name="concept" formControlName="concept" />
                        </osb-input-validator>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <label for="email">{{'ONESAIT-TRANSFERS.EMIT.EMAIL' | translate}}</label>
                        <osb-input-validator [formCtrl]="transferFormData.get('email')">
                            <input class="form-control" type="text" name="email" formControlName="email" />
                        </osb-input-validator>
                    </div>
                </div>
                <osb-transfer-show-add-fav [transferFormData]="transferFormData" [transferFormExecution]="transferFormExecution.value"></osb-transfer-show-add-fav>
            </form>
        </fieldset>
    </div>
    <div class="col-xs-12 hidden-xs">
        <button class="btn btn-primary pull-right" [disabled]="!validateForms()" (click)="send()">{{ 'COMMON.NEXT' | translate }}</button>
    </div>
    <div class="col-xs-12 visible-xs">
        <button class="btn btn-primary btn-hover btn-search" [disabled]="!validStep()" (click)="nextStep()">{{ 'COMMON.NEXT' | translate }}</button>
    </div>
</div>