<div class="text-center ">
    <div class="p-1"><img title="Logo Novobanco" alt="Logo Novobanco" src="assets/images/logo-novobanco.png"/></div>
    <p class="text-os-bold fs-28">¡Ups! Hubo un error</p>
    <p>Intente recargar la página de nuevo</p>
    <div class="p-1"><img src="assets/images/error-image.png"/></div>
    <p><button class="btn btn-primary" (click)="reloadApp()">Recargar</button></p>
    <p class="p-1">Si el error persiste el problema es más complejo y seguramente nuestros técnicos ya estén trabajando para solucionarlo.</p>
</div>