.app-error-page.app-error-page-t500
  .app-error-page-content
    .app-error-page-content-head
      img(title="Logo Novobanco" alt="Logo Novobanco" src="assets/images/logo_wanap.png" )

    .app-error-page-content-title
      p ¡Ups!
      p Hubo un error
    
    .app-error-page-content-description
      p Intente recargar la página de nuevo

    .app-error-page-content-footer
        button.btn.btn-secondary((click)="reloadApp()") Recargar
        p Si el error persiste el problema es más complejo y seguramente nuestros técnicos ya estén trabajando para solucionarlo.
