<app-loader *ngIf="loading">
</app-loader>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <osb-search-list [formGroup]="filterSearchForm" [formConfig]="formConfig" (search)="next()">
                </osb-search-list>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel ">
                        <div class="panel-body p-1" *ngIf="cardStatements">
                            <table class="table table-detail">
                                <thead class="hidden-xs">
                                    <tr>
                                        <th>{{'ITECBAN-ACCOUNT.MOVEMENT.OPERATION.DATE' | translate}}</th>
                                        <th>{{'ITECBAN-CREDITCARD.STATEMENTS.STATEMENT' | translate}}</th>
                                        <th>{{'ITECBAN-CREDITCARD.STATEMENTS.STATUS' | translate}}</th>
                                        <th>{{'ITECBAN-ACCOUNT.MOVEMENT.AMOUNT' | translate}}</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="cardStatements">
                                    <tbody [ngClass]="{'open': item.reference == selectedItem && !isMobileResolution() }" *ngFor="let item of cardStatements">
                                        <tr class="hidden-xs text-no-warp" (click)="viewDetail(item)">
                                            <td class="hidden-xs">{{ item.date | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{ item.reference }}</td>
                                            <td>{{ item.state.name }}</td>
                                            <td class="text-no-warp text-right">{{ item.amount.amount | CurrencyPipe: item.amount.currency.code }}</td>
                                        </tr>
                                        <tr class="visible-xs-block text-no-warp" (click)="viewDetail(item)">
                                            <td>
                                                <strong class="visible-xs-block text-os-semibold text-no-warp">{{ item.date | date: 'dd/MM/yyyy'}}</strong>
                                                <span class="visible-xs-block fs-12 text-no-warp">{{ item.reference }}</span>
                                            </td>
                                            <td class="col-xs-12 text-no-warp text-right">
                                                <strong class="visible-xs-block text-os-semibold text-no-warp">{{ item.state.name }}</strong>
                                                <span class="visible-xs-block fs-12 text-no-warp">{{ item.amount.amount | CurrencyPipe: item.amount.currency.code }}</span>

                                            </td>
                                        </tr>
                                        <tr [ngClass]="{'description': !isMobileResolution() }" *ngIf="selectedItem && (selectedItem === item.reference)">
                                            <td colspan="6">
                                                <app-card-detail [card]="recivedCard" [movement]="item" [coming]="coming" (closeEvent)="close()"></app-card-detail>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </table>
                            <div class="row" *ngIf="hasMoreData">
                                <a class="col-xs-12 text-center" (click)="next()" role="button">{{'ITECBAN-ACCOUNT.MOVEMENT.MORE-DATA' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>