<osb-loader *ngIf="loading"></osb-loader>

<div class="row" *ngIf="view === VIEWS.FIRST">
    <form [formGroup]="newTgssForm" id="form">
        <div class="col-xs-12">
            <fieldset class="fielset-custom">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label class="form-custom-label"
                                for="accountId">{{'ONESAIT-TAXES.PAYMENTS-RETURNS.CHARGE-ACCOUNT' | translate}}</label>
                            <div class="form-select-custom">
                                <select class="form-control form-control-amim" name="accountId"
                                    formControlName="accountId">
                                    <option *ngFor="let account of accounts" [value]="account.id">{{account.alias ? account.alias : account.id}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <label class="form-custom-label"
                                for="entityId">{{'ONESAIT-TAXES.PAYMENTS-RETURNS.ISSUING-ENTITY' | translate}}</label>
                            <div class="form-select-custom">
                                <select class="form-control form-control-amim" name="issuerEntity"
                                    formControlName="issuerEntity">
                                    <option *ngFor="let issuerEntitie of issuerEntities" [value]="issuerEntitie.id">
                                        {{issuerEntitie.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label class="form-custom-label"
                                for="reference">{{'ONESAIT-TAXES.PAYMENTS-RETURNS.REFERENCE' | translate}}</label>
                            <input class="form-control" type="text" name="reference" formControlName="reference" />
                        </div>
                        <div class="col-xs-12 col-md-3 mt-2 mb-1 fs-12">
                            <br>
                            <p>
                                {{'ONESAIT-TAXES.PAYMENTS-RETURNS.DIGITS-VALUE' | translate:{length:13} }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <label class="form-custom-label"
                                for="identification">{{'ONESAIT-TAXES.PAYMENTS-RETURNS.IDENTIFICATION' | translate}}</label>
                            <input class="form-control" type="text" name="identification"
                                formControlName="identification" />
                        </div>
                        <div class="col-xs-12 col-md-3 mt-2 mb-1 fs-12">
                            <br>
                            <p>
                                {{'ONESAIT-TAXES.PAYMENTS-RETURNS.DIGITS-VALUE' | translate:{length:6} }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-sm-5 col-md-3">
                            <label class="form-custom-label"
                                for="paymentAmount">{{'ONESAIT-TAXES.PAYMENTS-RETURNS.AMOUNT' | translate}}</label>
                            <input class="form-control" type="number" name="paymentAmount"
                                formControlName="paymentAmount" />
                        </div>
                        <div class="col-xs-2 col-sm-1 mt-1 fs-20">
                            <br>
                            <p>{{defaultCurrency.sign}}</p>
                        </div>
                    </div>

                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" formControlName="isDirectDebit" id="directDebit">
                        <i class="icon-check"></i>
                        <label for="directDebit">
                            {{'ONESAIT-TAXES.PAYMENTS-RETURNS.WANT-DIRECT-PAYMENT' | translate}}</label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-xs-12 mt-1">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-6 col-sm-6 text-center">
                    <button [disabled]="!newTgssForm.valid" class="btn btn-primary pull-right" type="button"
                        (click)="makeOperation()">
                        {{ 'COMMON.OPERATION' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" *ngIf="view === VIEWS.TOKEN">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel ">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <osb-signature [signatureEntity]="signatureEntity"></osb-signature>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6">
                            <button class="btn btn-secondary" (click)="cancel()">
                                {{ 'COMMON.CANCEL' | translate }}
                            </button>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <button class="btn btn-secondary" (click)="back()">
                                        {{ 'COMMON.BACK' | translate }}
                                    </button>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <button class="btn btn-primary" [disabled]="!signatureEntity.tokenValid"
                                        (click)="tokenCompleted()">
                                        {{ 'COMMON.FINALIZE' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="view === VIEWS.CONFIRM">
    <div class="col-xs-12">
        <div class="margg-c">
            <div class="margg-c info-text ">
                <div>{{ 'ONESAIT-TAXES.PAYMENTS-RETURNS.TYPE-TAX' | translate }}
                    <b>{{taxSelectedCombo.name}}</b>
                </div>
            </div>
            <div class="box-form-info grayBackground-c">
                <div class="info-section-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-xs-6">
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.CHARGE-ACCOUNT' | translate}}</b>
                                    <div>{{accountSelected.alias ? accountSelected.alias : accountSelected.id}}</div>
                                </div>
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.ISSUING-ENTITY' | translate}}</b>
                                    <div>{{issuerEntitySelected.name}}</div>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.DIRECTDEBIT' | translate}}</b>
                                    <div>{{newTgssForm.value.isDirectDebit | BooleanToStringPipe}}</div>
                                </div>
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.REFERENCE' | translate}}</b>
                                    <div>{{newTgssForm.value.reference}}</div>
                                </div>
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.IDENTIFICATION' | translate}}</b>
                                    <div>{{newTgssForm.value.identification}}</div>
                                </div>
                                <div class="margg-c">
                                    <b>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.AMOUNT' | translate}}</b>
                                    <div>
                                        <b>{{newTgssForm.value.paymentAmount}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6">
            <button class="btn btn-secondary" (click)="cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </button>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-secondary" (click)="back()">
                        {{ 'COMMON.BACK' | translate }}
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-primary" (click)="confirm()">
                        {{ 'COMMON.CONTINUE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="view === VIEWS.FINISH">
    <div class="row">
        <osb-voucher-container #voucherContainer>
            <div class="col-xs-12">
                <div class="margg-c">
                    <osb-final-message text="{{'ONESAIT-TAXES.PAYMENTS-RETURNS.OPERATION-SUCCESS' | translate}}">
                    </osb-final-message>
                    <div class="margg-c info-text ">
                        <div>{{ 'ONESAIT-TAXES.PAYMENTS-RETURNS.TYPE-TAX' | translate }}
                            <b>{{taxSelectedCombo.name}}</b>
                        </div>
                    </div>
                    <div class="box-form-info grayBackground-c">
                        <div class="info-section-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="col-xs-6">
                                        <div OsbVoucherKeyValue>
                                            <b
                                                OsbVoucherKey>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.CHARGE-ACCOUNT' | translate}}</b>
                                            <div OsbVoucherValue>{{accountSelected.alias ? accountSelected.alias : accountSelected.id}}</div>
                                        </div>
                                        <div OsbVoucherKeyValue>
                                            <b
                                                OsbVoucherKey>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.ISSUING-ENTITY' | translate}}</b>
                                            <div OsbVoucherValue>{{issuerEntitySelected.name}}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <div OsbVoucherKeyValue>
                                            <b
                                                OsbVoucherKey>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.DIRECTDEBIT' | translate}}</b>
                                            <div OsbVoucherValue>
                                                {{newTgssForm.value.isDirectDebit | BooleanToStringPipe}}</div>
                                        </div>
                                        <div OsbVoucherKeyValue>
                                            <b
                                                OsbVoucherKey>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.IDENTIFICATION' | translate}}</b>
                                            <div OsbVoucherValue>{{newTgssForm.value.identification}}</div>
                                        </div>
                                        <div OsbVoucherKeyValue>
                                            <b OsbVoucherKey>{{'ONESAIT-TAXES.PAYMENTS-RETURNS.AMOUNT' | translate}}</b>
                                            <div>
                                                <b OsbVoucherValue>{{newTgssForm.value.paymentAmount}}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-6 col-sm-6">
                <div class="col-xs-12 col-sm-6">
                    <osb-download-info [voucherContainer]="voucherContainer"
                        text="{{'ONESAIT-FACTORING.ADD.DOWNLOAD' | translate}}">
                    </osb-download-info>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="btn btn-secondary"
                        (click)="goToAccounts()">{{'COMMON.GO-ACCOUNTS' | translate}}</button>
                </div>
            </div>
        </osb-voucher-container>
    </div>
</div>