<app-loader *ngIf="loading"></app-loader>

<div class="row">

    <div class="col-xs-12 col-sm-9">
        <osb-search-list [formGroup]="filterSearchForm" [formConfig]="formConfig" (search)="getMovements()"></osb-search-list>
    </div>

    <div class="hidden-xs col-sm-3 drop-down-links text-right">
        <ul>
            <li class="filter-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="icon icononesait icon-configuration dropdown-options-filter"></span>
                </a>
                <div class="dropdown-arrow"></div>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="openExtractModal()">
                            {{ 'ITECBAN-ACCOUNT.ACCOUNT.PAGE.EXTRACT' | translate }}
                        </a>
                        <a (click)="downloadExcel()">
                            {{ 'ITECBAN-ACCOUNT.ACCOUNT.PAGE.DOWNLOAD-MOV' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="hidden-xs hidden-sm hidden-md content-historic-extract">
        <a class="col-xs-5 text-center" (click)="openExtractModal()" role="button" aria-haspopup="true">
            <span class="icon icononesait icon-global-position"></span>
            <span class="text-os-bold text-literal">
                {{ 'ITECBAN-ACCOUNT.ACCOUNT.PAGE.EXTRACT' | translate }}
            </span>
        </a>
        <a class="col-xs-7 pr-1" (click)="downloadExcel()" role="button" aria-haspopup="true">
            <span class="icon icononesait icon-global-position"></span>
            <span class="text-os-bold text-literal">
                {{ 'ITECBAN-ACCOUNT.ACCOUNT.PAGE.DOWNLOAD-MOV' | translate }}
            </span>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="panel ">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead class="hidden-xs">
                            <tr>
                                <th></th>
                                <th class="hidden-sm hidden-md hidden-lg"></th>
                                <th>
                                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.OPERATION.DATE' | translate }}
                                </th>
                                <th>
                                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.VALUEDATE' | translate }}
                                </th>
                                <th>
                                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.CONCEPT' | translate }}
                                </th>
                                <th class="text-right">
                                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.AMOUNT' | translate }}
                                </th>
                                <th class="text-right">
                                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.BALANCE' | translate }}
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="movements">
                            <!-- #ITECNB-638 - Comprueba los movimientos para que no desaparezca también la cabecera  -->
                            <!-- <tr *ngFor="let item of movements" (click)="viewDetail(item)" [ngClass]="{'selected' : selectedId === item.id}"> -->
                            <!-- <tr *ngFor="let item of movements" [ngClass]="{'selected' : selectedId === item.id, 'interactive' : item.type.id === '128'}" (click)="viewDetail(item)"> -->
                            <tr *ngFor="let item of movements" class="interactive" (click)="viewDetail(item)">
                                <td class="hidden-xs">
                                    <i class="icon icon-documents text-gray-darker fs-49"></i>
                                </td>
                                <td class="hidden-sm hidden-md hidden-lg v-align-middle text-center">
                                    <span [ngClass]="item.amount.amount >= 0 ?  'text-green icon-arrow-link-right' : 'text-orange icon-arrow-link-left'" class="icon icononesait"></span>
                                </td>
                                <td class="hidden-xs">
                                    {{ item.operationDate | date: 'dd/MM/yyyy'}}
                                </td>
                                <td class="hidden-xs">
                                    {{ item.valueDate | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    {{ item.reason }}
                                    <span class="visible-xs-block fs-12">
                                        {{ item.operationDate | date: 'dd/MM/yyyy' }}
                                    </span>
                                </td>
                                <td class="hidden-xs text-no-warp text-right">
                                    {{ item.amount.amount | CurrencyPipe: item.amount.currency.code }}
                                </td>
                                <td class="text-right">
                                    <span class="hidden-xs text-no-warp">
                                        {{ item.balance.amount | CurrencyPipe: item.balance.currency.code }}
                                    </span>
                                    <span class="visible-xs-block text-os-semibold text-no-warp">
                                        {{ item.balance.amount | CurrencyPipe: item.balance.currency.code }}
                                    </span>
                                    <span class="visible-xs-block fs-12 text-no-warp">
                                     {{ item.amount.amount | CurrencyPipe: item.amount.currency.code  }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="row" *ngIf="hasMoreData && movements">
                        <!-- #ITECNB-638 - Comprueba los movimientos para no mostrar el botón  -->
                        <a class="col-xs-12 text-center p-1 text-os-bold" (click)="next()" role="button">
                            {{ 'ITECBAN-ACCOUNT.MOVEMENT.MORE-DATA' | translate }}
                        </a>
                    </div>
                </div>

                <!-- #ITECNB-638 - Mensaje de advertencia  -->
                <div class="col-xs-12 mt-2" *ngIf="listMovements.list.data.length === 0">
                    <div class="col-xs-12 mt-2" *ngIf="listMovements.list.data.length === 0 && !loading">
                        <p> {{'ITECBAN-LOGIN-PAGE.NO-MOVEMENTS' | translate}} </p>
                    </div>
                    <!-- #ITECNB-638 - Mensaje de advertencia  -->


                </div>
            </div>
        </div>
    </div>

    <app-modal #modal>
        <app-loader *ngIf="loading"></app-loader>
        <app-modal-header></app-modal-header>
        <app-modal-body>
            <form [formGroup]="extractForm">
                <div class="acount-info-destacados-title text-os-semibold fs-15">
                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.TITLE' | translate }}
                </div>
                <div class="mt-10 fs-12">
                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.TEXT1' | translate }}
                </div>
                <div class="mt-10 fs-12">
                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.TEXT2' | translate }}
                </div>
                <div class="mt-10 fs-12">
                    {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.TEXT3' | translate }}
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-calendar-custom">
                            <label class="form-custom-label fs-12" for="dateFrom">
                            {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.DATEFROM' | translate }}
                        </label>
                            <osb-input-validator [formCtrl]="extractForm.get('dateFrom')" [opts]="inputValidatorOptionsIni">
                                <input autocomplete="off" class="form-control" id="dateFrom" formControlName="dateFrom" #bsDateIniModal="bsDatepicker" (onShown)="handler()" bsDatepicker />
                                <i class="icon icononesait icon-calendar" (click)="bsDateIniModal.show()"></i>
                            </osb-input-validator>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-calendar-custom">
                            <label class="form-custom-label fs-12" for="dateTo">
                            {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.DATETO' | translate }}
                        </label>
                            <osb-input-validator [formCtrl]="extractForm.get('dateTo')" [opts]="inputValidatorOptionsEnd">
                                <input autocomplete="off" class="form-control" id="dateTo" formControlName="dateTo" (onShown)="handler()" #bsDateFinModal="bsDatepicker" bsDatepicker>
                                <i class="icon icononesait icon-calendar" (click)="bsDateFinModal.show()"></i>
                            </osb-input-validator>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <osb-formgroup-validator [formGroup]="extractForm"></osb-formgroup-validator>
                    </div>
                </div>
            </form>
        </app-modal-body>
        <app-modal-footer>
            <button class="btn btn-primary " (click)="acceptExtractModal()" [disabled]="!extractForm.valid">
            {{ 'ITECBAN-ACCOUNT.MOVEMENT.EXTRACT.GENERATE' | translate }}
        </button>
        </app-modal-footer>
    </app-modal>