<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-4">
        <div>
            <div class="pt-2"><img title="Logo Novobanco" alt="Logo Novobanco" src="assets/images/logo-novobanco.png"/></div>
            <div class="mt-2 green-line"></div>
            <p class="pt-2 text-os-bold fs-28 er">{{'ERROR.LOGIN.TEXT1' | translate}}</p>
            <p class="pt-1">{{'ERROR.LOGIN.TEXT2' | translate}}</p>
            <p class="pt-1"><button class="btn btn-primary btn-block" (click)="reloadApp()" type="button">{{'ERROR.LOGIN.BUTTON' | translate}}</button></p>
        </div>
    </div>
</div>