<osb-loader *ngIf="loading">
</osb-loader>

<div class="modal-detail" *ngIf="creditMovementDetail">

    <ng-container *ngIf="isMobileResolution()">
        <osb-modal-page [isOpenModal]="true" (closeEvent)="close()">
            <osb-modal-page-header></osb-modal-page-header>
            <ng-container *ngTemplateOutlet="templateRef"></ng-container>
        </osb-modal-page>
    </ng-container>

    <ng-container *ngIf="!isMobileResolution()">
        <ng-container *ngTemplateOutlet="templateRef"></ng-container>
    </ng-container>


    <ng-template #templateRef>
        <div class="p-1">

            <div class="row">
                <div class="col-xs-10">
                    <div class="mb-1">
                        <span class="text-os-semibold">
                            {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.CONCEPT' | translate }}:
                        </span>
                        <span class="text-os-semibold" *ngIf="creditMovementDetail && creditMovementDetail.reason">
                            {{ creditMovementDetail.reason | uppercase }}
                        </span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div *ngIf="!isMobileResolution()" class="pull-right icon icononesait icon-close text-blue fs-28" (click)="close()"></div>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-xs-4">
                    <span class="text-os-semibold">
                        {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.EXECUTION-DATE' | translate }}:
                    </span>
                    <span class="text-no-warp" *ngIf="creditMovementDetail && creditMovementDetail.operationDate">
                        {{ creditMovementDetail.operationDate | date: 'dd/MM/yyyy' }}
                    </span>
                </div>

                <div class="col-xs-4">
                    <div class="mb-1">
                        <span class="text-os-semibold">
                            {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.VALUE-DATE' | translate }}:
                        </span>
                        <span *ngIf="creditMovementDetail && creditMovementDetail.valueDate">
                            {{ creditMovementDetail.valueDate | date: 'dd/MM/yyyy' }}
                        </span>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="mb-1">
                        <span class="text-os-semibold">
                            {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.AMOUNT' | translate }}:
                        </span>
                        <span class="text-no-warp" *ngIf="creditMovementDetail && creditMovementDetail.amount.amount && creditMovementDetail.amount.currency.code">
                                {{ creditMovementDetail.amount.amount | CurrencyPipe: creditMovementDetail.amount.currency.code }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <span class="text-no-warp">
                        {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.TYPE' | translate }}:
                    </span>
                    <span class="text-no-warp" *ngIf="creditMovementDetail && creditMovementDetail.type.name">
                        {{ creditMovementDetail.type.name | uppercase }}
                    </span>
                </div>

                <div class="col-xs-12">
                    <span class="text-no-warp">
                        {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.BALANCE' | translate }}:
                    </span>
                    <span class="text-no-warp" *ngIf="creditMovementDetail && creditMovementDetail.balance.amount && creditMovementDetail.balance.currency.code">
                        {{ creditMovementDetail.balance.amount | CurrencyPipe: creditMovementDetail.balance.currency.code }}
                    </span>
                </div>
            </div>
        </div>

        <div class="mb-1">
            <!-- <div class="mb-1">
                <button class="btn btn-primary" (click)="operateInversis()">
                    {{ 'ITECBAN-CREDITS.CREDIT-MOVEMENTS-DETAIL.TABLE.BUTTON.LINK-DOWNLOAD-DOCUMENT' | translate }}
                </button>
            </div> -->
        </div>
    </ng-template>
</div>