<app-loader *ngIf="loading"></app-loader>
<ng-container *ngIf="viewEditPass && view !== 'TOKEN'">
    <form [formGroup]="passwordForm" role="form" autocomplete="off">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <fieldset>
                    <div class="form-group borde-inferior-gray-dark pb-2">
                        <label for="currentPassword">
                                    {{ 'ITECBAN-PERSONS.MY.SPACE.ENTER.CURRENT.PWD' | translate }}
                        </label>
                        <osb-input-validator [formCtrl]="passwordForm.get('currentPassword')">
                            <input autocomplete="off" type="password" class="form-control" name="currentPassword" formControlName="currentPassword" >
                        </osb-input-validator>
                    </div>

                    <div class="form-group mt-2">
                        <label for="newPassword">
                            {{ 'ITECBAN-PERSONS.MY.SPACE.ENTER.NEW.PWD' | translate }}
                        </label>
                        <osb-input-validator [formCtrl]="passwordForm.get('newPassword')">
                            <input autocomplete="off" type="password" class="form-control" name="newPassword" formControlName="newPassword" >
                        </osb-input-validator>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label for="rptNewPassword">
                            {{ 'ITECBAN-COMMON.LOGIN.REMEMBERPWD.NEWPWD.REPEATPWD' | translate }}
                        </label>
                        <osb-input-validator [formCtrl]="passwordForm.get('repeatPassword')">
                            <input autocomplete="off" type="password" class="form-control" name="repeatPassword" formControlName="repeatPassword">
                        </osb-input-validator>
                    </div>
                </fieldset>
            </div>
            <div class="hidden-xs col-sm-6">
                <span>
                    <b>
                        {{ 'ITECBAN-PERSONS.MY.SPACE.CHANGE.PWD.INFO.TITLE' | translate }}
                    </b>
                </span>
                <ul class="list-style-disc pl-1 text-left">
                    <li class="pt-1">
                        {{ 'ITECBAN-PERSONS.MY.SPACE.CHANGE.PWD.INFO.OPT1' | translate }}
                    </li>
                    <li class="pt-1">
                        {{ 'ITECBAN-PERSONS.MY.SPACE.CHANGE.PWD.INFO.OPT2' | translate }}
                    </li>
                    <!-- <li class="pt-1">{{ 'ITECBAN-PERSONS.MY.SPACE.CHANGE.PWD.INFO.OPT3' | translate }}</li> -->
                    <!-- <li class="pt-1">{{ 'ITECBAN-PERSONS.MY.SPACE.CHANGE.PWD.INFO.OPT4' | translate }}</li> -->
                </ul>
            </div>
        </div>
        <osb-formgroup-validator [formGroup]="passwordForm"></osb-formgroup-validator>
        <div class="row mt-1">
            <div class="col-xs-6 text-left" >
                <button class="btn btn-secondary" type="button" (click)="goToMySpace()">
                    {{ 'COMMON.CANCEL' | translate}}
                </button>
            </div>
            <div class="col-xs-6 text-right">
                <button #butonA [disabled]="!passwordForm.valid" class="btn btn-primary" type="button" (click)="goToToken()">
                        {{ 'COMMON.ACCEPT' | translate }}
                </button>
            </div>
        </div>
    </form>

    
</ng-container>

<div class="panel" *ngIf="view === 'TOKEN'">
        <div class="panel-body">
            <form #formToken="ngForm">
                <osb-signature [signatureEntity]="signatureEntity"></osb-signature>
                <div class="row mt-1 mb-1">
                    <div class="col-xs-6 mt-1 mb-1">
                        <button class="btn btn-secondary" (click)="cancel()" >
                            {{ 'ITECBAN-ACCOUNT.ADD.BUTTON.CANCEL' | translate }}
                        </button>
                    </div>
                    <div class="col-xs-6 mt-1 mb-1">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-secondary" (click)="back()">
                                    {{ 'ITECBAN-ACCOUNT.ADD.BUTTON.BEHIND' | translate }}
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-primary" [disabled]="!signatureEntity.tokenValid" (click)="goToToken()">
                                    {{ 'ITECBAN-ACCOUNT.ADD.BUTTON.FINALIZE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>