<ng-container *ngIf="show">
    <div  class="alert" [ngClass]="{'alert-success':type==='info','alert-danger':type==='error'}">
        {{message}}
        <span class="close" (click)="close()"><i class="icon icon-onesait icon-close"></i></span>
    </div>
</ng-container>
<ng-container *ngIf="showLogout">
    <div class="alert" [ngClass]="{'alert-info':showLogout}">
        <div class="row">
            <div class="col-xs-8">{{'LOGOUT.AUTOMATIC.TEXT' | translate: {lbTime:lbTime} }}</div>
            <div class="col-xs-4"> 
                <div class="btn btn-secondary pull-right" (click)="ping()">{{'LOGOUT.AUTOMATIC.BTN.CANCEL' | translate }}</div>
            </div>
        </div>
    </div>
</ng-container>




   



