<div class="row">
  <div class="col-xs-12 p-dynamic">
    <osb-tabs [tabs]="pageConfig.tabs" [(view)]="view"></osb-tabs>
  </div>
</div>
<div class="row page-tabbed pb-1 pt-1">
  <div class="col-xs-12 p-dynamic min-h-date">
    <ng-container *ngIf="view === 'send-remittance'">
      <osb-send-remittance></osb-send-remittance>
    </ng-container>
    <ng-container *ngIf="view === 'remittance-list'">
      <osb-remittance-list></osb-remittance-list>
    </ng-container>
    <ng-container *ngIf="view === 'remittance-returned-list'">
      <osb-remittance-returned-list></osb-remittance-returned-list>
    </ng-container>
  </div>
</div>