<div class="row" *ngIf="transferState">
    <div class="col-xs-12">
        <fieldset class="fielset-custom" *ngIf="!isMobileResolution() || transferState.currentStep === 1">
            <div class="mt-1 mb-1">
                {{ 'ONESAIT-TRANSFERS.EMIT.DESCRIPTION.INTER' | translate }}
            </div>
            <!-- <div class="row mt-1" *ngIf="transferState.favourites">
                <div class="col-xs-12 col-md-5">
                    <div class="form-group">
                        <label for="favourite">{{'ONESAIT-TRANSFERS.EMIT.FILL-FAV' | translate}}</label>
                        <select class="form-control form-control-amim" name="favourite"
                            [(ngModel)]="transferFavouriteSelected" (ngModelChange)="onChangeSelect($event)">
                            <option [ngValue]='null'></option>
                            <option *ngFor="let favourite of transferState.favourites" [ngValue]="favourite">{{favourite.reason}}</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <form [formGroup]="transferFormAccounts" id="form">
                <div class="form-group">
                    <div class="row mt-1">
                        <div class="col-xs-12 col-md-5">
                            <div class="form-group">
                                <label for="origin">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.ORIGINIBAN' | translate}}*</label>
                                <osb-input-validator [formCtrl]="transferFormAccounts.get('origin')">
                                    <select class="form-control form-control-amim" name="origin"
                                        formControlName="origin">
                                        <option *ngFor="let account of accountSelectTransfer" [ngValue]="account">
                                            {{account.formats | formatAccountPipe: accountFormatView}}
                                        </option>
                                    </select>
                                </osb-input-validator>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-xs-12 col-md-5">
                            <label
                                for="externalDestiny">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.DESTINY' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('externalDestiny')">
                                <input class="form-control" autocomplete="off" type="text" name="externalDestiny"
                                    formControlName="externalDestiny" minlength="15" (blur)="removeSpaceFormat()" />
                            </osb-input-validator>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label for="bic">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.BIC' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('bic')">
                                <input class="form-control" type="text" name="bic" formControlName="bic" minlength="8"
                                    (blur)="removeSpaceFormatBic(); toUppercase(transferFormAccounts.get('bic'))" />
                            </osb-input-validator>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-xs-12 col-md-5">
                            <label
                                for="externalDestinyName">{{'ONESAIT-TRANSFERS.EMIT.ENTITY.NAME' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('externalDestinyName')">
                                <input class="form-control" type="text" name="externalDestinyName"
                                    formControlName="externalDestinyName" />
                            </osb-input-validator>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label
                                for="externalDestinyCountry">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.COUNTRY' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('externalDestinyCountry')">
                                <select class="form-control form-control-amim" name="externalDestinyCountry"
                                    formControlName="externalDestinyCountry">
                                    <option [ngValue]="undefined" [selected]="undefined"></option>
                                    <option *ngFor="let country of transferState.beneficiaryCountriesInternational"
                                        [ngValue]="country">
                                        {{country.name}}</option>
                                </select>
                            </osb-input-validator>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-xs-6 col-md-3">
                            <label for="amount">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.AMOUNT' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormAccounts.get('amount')"
                                [opts]="inputValidatorOptions">
                                <input class="form-control" type="text" name="amount" formControlName="amount"
                                    (blur)="applyFormatInput()" />
                            </osb-input-validator>
                        </div>
                        <div class="col-xs-6 col-md-2">
                            <div class="form-group">
                                <label for="currency">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.CURRENCY' | translate}}</label>
                                <select class="form-control form-control-amim" name="currency"
                                    formControlName="currency">
                                    <option *ngFor="let currency of transferState.currencies" [ngValue]="currency">
                                        {{currency.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="form-group">
                                <label for="chargeBearer">{{'ONESAIT-TRANSFERS.EMIT.CHARGES' | translate}}*</label>
                                <select class="form-control form-control-amim" name="chargeBearer"
                                    formControlName="chargeBearer">
                                    <option *ngFor="let charge of transferState.chargeBearer" [ngValue]="charge">
                                        {{charge.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form [formGroup]="transferFormBeneficiary" id="form">
                <div class="form-group">
                    <div class="row mt-1">
                        <div class="col-xs-12 col-md-3">
                            <label
                                for="beneficiaryName">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.BENEFICIARY' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormBeneficiary.get('beneficiaryName')">
                                <input class="form-control" type="text" name="beneficiaryName"
                                    formControlName="beneficiaryName" />
                            </osb-input-validator>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <label
                                for="beneficiaryAddress">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.ADDRESS' | translate}}</label>
                            <input class="form-control" type="text" name="beneficiaryAddress"
                                formControlName="beneficiaryAddress" />
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <label
                                for="beneficiaryProvince">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.PROVINCE' | translate}}</label>
                            <input class="form-control" type="text" name="beneficiaryProvince"
                                formControlName="beneficiaryProvince" />
                        </div>
                        <!-- <div class="col-xs-6 col-md-3">
                            <label
                                for="beneficiaryCountry">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.COUNTRY' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormBeneficiary.get('beneficiaryCountry')">
                                <input class="form-control" type="text" name="beneficiaryCountry"
                                    formControlName="beneficiaryCountry" />
                            </osb-input-validator>
                        </div> -->
                        <div class="col-xs-6 col-md-2">
                            <label
                                for="beneficiaryCountry">{{'ONESAIT-TRANSFERS.EMIT.ACCOUNT.COUNTRY' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormBeneficiary.get('beneficiaryCountry')">
                                <select class="form-control form-control-amim" name="beneficiaryCountry"
                                    formControlName="beneficiaryCountry">
                                    <option [ngValue]="undefined" [selected]="undefined"></option>
                                    <option *ngFor="let country of transferState.beneficiaryCountriesInternational"
                                        [ngValue]="country">
                                        {{country.name}}</option>
                                </select>
                            </osb-input-validator>
                        </div>

                    </div>
                </div>
            </form>
        </fieldset>

        <fieldset class="fielset-custom" *ngIf="!isMobileResolution() || transferState.currentStep === 2">
            <form [formGroup]="transferFormExecution" id="form">
                <!--<div class="col-xs-12">
                    <b>{{'ONESAIT-TRANSFERS.EMIT.WHEN-TRANSFER' | translate}}</b>
                </div>-->
                <div class="form-group">
                    <!-- <osb-transfer-execution [transferForm]="transferFormExecution" [frequencyTypes]="transferState.frequencyTypes"></osb-transfer-execution> -->
                    <osb-transfer-emit-simulator [simulation]="simulation"></osb-transfer-emit-simulator>
                </div>
            </form>
        </fieldset>
        <fieldset class="fielset-custom" *ngIf="!isMobileResolution() || transferState.currentStep === 3">
            <form [formGroup]="transferFormData" id="form">
                <div class="row mt-1">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="purposeType">{{'ONESAIT-TRANSFERS.EMIT.REASON' | translate}}*</label>
                            <osb-input-validator [formCtrl]="transferFormData.get('purposeType')">
                                <select class="form-control form-control-amim" name="purposeType"
                                    formControlName="purposeType">
                                    <option *ngFor="let purpose of transferState.purposeTypes" [ngValue]="purpose">
                                        {{purpose.name}}</option>
                                </select>
                            </osb-input-validator>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <label for="concept">{{'ONESAIT-TRANSFERS.EMIT.DETAIL' | translate}}*</label>
                        <osb-input-validator [formCtrl]="transferFormData.get('concept')">
                            <input class="form-control" type="text" name="concept" formControlName="concept" />
                        </osb-input-validator>
                    </div>

                    <div class="col-xs-12 col-md-5">
                        <label for="email">{{'ONESAIT-TRANSFERS.EMIT.EMAIL' | translate}}</label>
                        <osb-input-validator [formCtrl]="transferFormData.get('email')">
                            <input class="form-control" type="text" name="email" formControlName="email" />
                        </osb-input-validator>
                    </div>
                </div>
                <osb-transfer-show-add-fav [transferFormData]="transferFormData"
                    [transferFormExecution]="transferFormExecution.value"></osb-transfer-show-add-fav>
            </form>
        </fieldset>
    </div>
    <div class="col-xs-12 hidden-xs">
        <button class="btn btn-primary pull-right" [disabled]="!validateForms()"
            (click)="send()">{{ 'COMMON.NEXT' | translate }}</button>
    </div>
    <div class="col-xs-12 visible-xs">
        <button class="btn btn-primary btn-search" [disabled]="!validStep()"
            (click)="nextStep()">{{ 'COMMON.NEXT' | translate }}</button>
    </div>
</div>
